name: Generate a build and push to another branch

on:
  push:
    branches:
      - main 

jobs:
  build:
    runs-on: ubuntu-latest
    name: Build and Push
    steps:
      - name: git-checkout
        uses: actions/checkout@v3
      - name: Sync files
        uses: SamKirkland/FTP-Deploy-Action@4.0.0
        with:
            server: ${{ secrets.HS_SITE_SERVER}}
            username: ${{ secrets.HS_SITE_USER}}
            password: ${{ secrets.HS_SITE_PASS}}
            server_dir: "public_html/"
